.header-all-categories-list {
    max-width: 100%;
    width: 275px;
    display: block;
    position: absolute;
    top: 45px;
}

@media (max-width: 1200px) {
    .header-all-categories-list {
        width: 200px;
    }
}
