@import "src/config/theme";

.register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-header-text {
    color: $dark;
    text-align: center;
}

.register-form {
    width: 35%;
    margin: 30px auto;
    border: 1px solid #efefef;
}

.register-form-item-wrapper {
    display: block;
    text-align: center;
    margin: 30px auto;
}

.register-form-input-wrapper {
    margin: 50px 0;
}

.register-form-text-field {
    width: 80%;
    font-size: 2rem !important;
}

.register-button {
    font-size: 1.2rem;
    padding: 5px 20px;
}

@media (max-width: 1300px) {
    .register-form {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .register-form {
        width: 60%;
    }
}

@media (max-width: 760px) {
    .register-form {
        width: 90%;
    }
}
