.header-all-categories-item {
    display: flex;
    align-items: center;
    width: 200px;
    border-radius: 3px;
}

.header-openIcon-all-categories {
    display: inline-block;
    margin-left: 10px;
}