.header-navbar-appbar {
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    position: relative;
    box-sizing: content-box;
}

.header-navbar-toolbar {
    flex-grow: 1;
    gap: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 1vw;
}

