@import 'src/config/theme.scss';

.rotated {
    transform: rotate(-180deg);
    transition: 0.5s;
}

.closed {
    transform: rotate(0);
    transition: 0.5s;
}

.navigation-drawer-list-list {
    padding: 0;
    box-shadow: 0;
    background-color: $white;
}