.common-page-loading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 560px) {
    .common-page-wrapper {
        margin: 0 5vw;
    }
}

@media (min-width: 560px) {
    .common-page-wrapper {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 600px) {
    .common-page-wrapper {
        max-width: 550px;
    }
}

@media (min-width: 700px) {
    .common-page-wrapper {
        max-width: 600px;
    }
}

@media (min-width: 800px) {
    .common-page-wrapper {
        max-width: 700px;
    }
}

@media (min-width: 900px) {
    .common-page-wrapper {
        max-width: 800px;
    }
}

@media (min-width: 1000px) {
    .common-page-wrapper {
        max-width: 900px;
    }
}

@media (min-width: 1100px) {
    .common-page-wrapper {
        max-width: 1000px;
    }
}

@media (min-width: 1200px) {
    .common-page-wrapper {
        max-width: 1100px;
    }
}

@media (min-width: 1350px) {
    .common-page-wrapper {
        max-width: 1200px;
    }
}

@media (min-width: 1536px) {
    .common-page-wrapper {
        max-width: 1250px;
    }
}

@media (min-width: 1800px) {
    .common-page-wrapper {
        max-width: 1440px;
    }
}
