@import url("https://fonts.googleapis.com/css2?family=Akshar&family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import "src/config/theme";

.MuiButton-root {
    width: max-content;
}

.navigation-link-element {
    text-decoration: none;
    color: inherit;
}

.breadcrumbs-wrapper {
    margin: 10px 0 10px 10vw;
}

.breadcrumb-item:hover {
    color: $primary-main;
}

.breadcrumb-item {
    color: $dark;
    font-size: 18px;
}

.breadcrumb-item-last {
    color: #8f8f8f;
    cursor: default;
}

.breadcrumb-item-last:hover {
    color: #8f8f8f;
}