.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-upper-app-bar {
    position: relative;
    padding: 20px 0;
}

.header-upper-app-bar-grid {
    gap: 0;
    justify-content: center;
    direction: row;
    align-items: center;
}

.header-upper-searchbar-cell {
    text-align: center;
}

.header-upper-searchbar {
    width: 55ch;
}

.header-upper-buttons-cell {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.header-upper-buttons{
    font-size: 1.2rem;
}

@media (min-width: 1200px) {
    .logo-dashes {
        font-size: 48px;
    }

    .logo-text {
        font-size: 48px;
    }
}

@media (max-width: 1200px) {
    .logo-dashes {
        font-size: 38px;
    }

    .logo-text {
        font-size: 38px;
    }
}