.site-footer {
    border-top: 1px solid #efefef;
}

.footer-grid {
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media (max-width: 1000px) {
    .footer-grid-item-header-text {
        font-size: 22px;
    }

    .footer-grid-item-content-text {
        font-size: 19px;
    }

    .footer-grid {
        margin: 10px auto;
        gap: 35px;
    }
}

@media (max-width: 700px) {
    .footer-grid-item:first-child {
        flex-basis: 100%;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .footer-grid-item-header-text {
        font-size: 20px;
    }

    .footer-grid-item-content-text {
        font-size: 17px;
    }

    .footer-grid {
        margin: 10px auto;
        gap: 30px;
    }
}
