.header-all-categories-text-box {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 275px;
    border-radius: 3px;
}

.header-all-categories-text-icon {
    display: inline-block;
    margin-left: 10px;
}

.header-all-categories-list {
    max-width: 100%;
    width: 275px;
    display: block;
    position: absolute;
    top: 45px;
}

@media (max-width: 1200px) {
    .header-all-categories-text-box {
        width: 200px;
    }
    .header-all-categories-list {
        width: 200px;
    }
}