.vehichle-card-content-wrapper {
    padding: 10px;
}

.vehichle-card-make {
    display: flex;
}

.vehichle-card-model {
    display: flex;
}

.vehichle-card-price {
    display: flex;
    font-weight: 600;
}