.header-navbar-appbar {
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    position: relative;
    box-sizing: content-box;
}

.header-navbar-toolbar-mobile {
    flex-grow: 1;
    gap: 7px;
}

