@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

.header-navbar-toolbar-mobile {
    flex-grow: 1;
    gap: 7px;
}

.header-navbar-toolbar-logo {
    flex-grow: 1;
}

.logo-dashes {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    font-style: italic;
}

.logo-text {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    font-style: italic;
}

@media (max-width: 576px) {
    .header-navbar-toolbar-mobile {
        gap: 0px;
    }

    .header-navbar-toolbar-logo {
        margin-left: 2px;
    }

    .header-navbar-toolbar-search-icon {
        margin-left: 7px;
    }
}
