.header-navbar-toolbar-mobile {
    flex-grow: 1;
    gap: 7px;
}

.header-navbar-toolbar-logo{
    flex-grow: 1;
}

@media (max-width: 576px) {
    .header-navbar-toolbar-mobile {
        gap: 0px;
    }

    .header-navbar-toolbar-logo{
        margin-left: 2px;
    }

    .header-navbar-toolbar-search-icon {
        margin-left: 7px;
    }
}