@import "src/config/theme";

.breadcrumbs-wrapper {
    margin: 10px 0 5px 0;
}

.breadcrumb-item:hover {
    color: $primary-main;
}

.breadcrumb-item {
    color: $dark;
    font-size: 18px;
}

.breadcrumb-item-last {
    color: #8f8f8f;
    cursor: default;
}

.breadcrumb-item-last:hover {
    color: #8f8f8f;
}

@media (max-width: 767px) {
    .breadcrumbs-wrapper {
        margin-bottom: 0;
    }    
}